<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Document</title>
		<!-- Styles and scripts links -->
		<link
			rel="stylesheet"
			href="../styles/globals.css"
		/>
		<script
			src="../scripts/post.js"
			type="module"
			defer
		></script>
		<!-- CDN Resources -->
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	</head>
	<body>
		<div
			id="container"
			class="container"
		>
			<h1>
				<a
					href="/"
					class="nav-title"
					>Blogging Platform</a
				>
			</h1>
			<nav id="nav">
				<button
					id="button-edit"
					class="with-hover edit"
				>
					EDIT
				</button>
				<button
					id="button-delete"
					class="with-hover delete"
				>
					DELETE
				</button>
			</nav>
			<ul
				id="card-container"
				class="card-container"
			></ul>
		</div>
	</body>
</html>
